<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<div th:each="p : ${person}">
    <a th:href="@{person/{id}/edit(id=${p.getId()})}"
       th:text="${p.getLogin() + ', ' + p.getPassword()}">user</a>
    <form th:method="DELETE" th:href="@{person/{id}(id=${p.getId()})}">
        <input type="submit" value="Delete">
    </form>
</div>

<br/>
<hr/>

<a href="/person/new">Добавить человека</a>

</body>
</html>